// *** style *** //

%clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}
%column {
  @extend %clearfix;
  > div {
    float: left;
    box-sizing: border-box;
  }
  > .first { padding-right: 15px; }
  > .second { padding-left: 15px; }
}

html { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
body { padding: 20px 0; }
a { color: inherit; text-decoration: none; }
a:hover { text-decoration: underline; }
.link { text-decoration: none; color: #0fa5f0; }
.link:hover { text-decoration: underline; }
.container {
  max-width: 1000px;
  margin: 20px auto;
}
ul { padding: 0; margin: 0; }
li { list-style: none; }
.header {
  background: #444;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 50px 15px;
  box-sizing: border-box;
  overflow: hidden;
  &.fixed { padding: 10px 15px; }
}

.sticky-grid {
  max-width: 1100px;
  margin: 0 auto;
  @extend %column;
  > .first { width: 25%; }
  > .second { width: 75%; }
}
.inner-1 {
  @extend %column;
  > .first { width: 66%; }
  > .second { width: 34%; }
}
.inner-2 {
  @extend %column;
  > .first { width: 29%; }
  > .second { width: 71%; }
}
.wrapper {
  @extend %clearfix;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
[class*='sticky-container'] {
  padding: 5px;
  outline-width: 1px;
  outline-style: solid;
}
.sticky-container {
  &-left-1 { outline-color: #66CCFF; }
  &-middle-1 { outline-color: #FF6FCF; }
  &-middle-2 { outline-color: #66FF66; }
  &-right-1 { outline-color: #B3B3B3; }
  &-right-2 { outline-color: #FF6666; }
}
.sticky {
  &-left-1 { background: #66CCFF; }
  &-middle-1 { background: #FF6FCF; }
  &-middle-2 { background: #66FF66; }
  &-right-1 { background: #B3B3B3; }
  &-right-2 { background: #FF6666; }
}
.box,
.sticky {
  width: 100%;
  margin: 20px 0;
  padding: 15px;
  min-height: 200px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  box-sizing: border-box;
}
.box { background-color: #f2f2f2; margin: 20px 0; }
.sticky {
  &-high { height: 1200px; }
  > strong {
    display: block;
    color: #000;
  }
}
.child {
  width: 50%;
  float: left;
  margin-bottom: 0;
  padding: 0 10px;
  box-sizing: border-box;
  &:first-child { padding-left: 0; }
  &:last-child { padding-right: 0; }
}
.two { min-height: 500px; }
.three { min-height: 800px; }