// *** sticky *** //
// v0.1.5 //

.js-sticky {
  box-sizing: border-box;
}
.js-sticky-container, 
.sticky-container {
  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}