// *** sticky *** //

.js {
  &-fixed-top,
  &-fixed-bottom { position: fixed; }

  &-fixed-top { top: 0; }
  &-fixed-bottom { bottom: 0; }

  &-relative { position: relative; }
  &-absolute { position: absolute; bottom: 0; }

  &-sticky {
    box-sizing: border-box;
    &-wrapper {
      &:before,
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }
}